[Desktop Entry]
Name=Ice Commander (node.in.net)
Comment=Ice Commander - Dual-Pane File Manager
Exec=nodeinnet-ice-commander
Icon=com.nodeinnet.icecommander.gtkapp
Terminal=false
Type=Application
Categories=System;Utility;Security;Network;Internet
StartupNotify=true
